In [68]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [69]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [70]:
base=pd.read_csv('BSinfo.csv')
cell=pd.read_csv('CLdata.csv')
energy=pd.read_csv('ECdata.csv')
submit=pd.read_csv("PCprediction.csv")

In [71]:
base.head()

    BS CellName RUType   Mode  Frequency  Bandwidth  Antennas   TXpower
0  B_0    Cell0  Type1  Mode2      365.0         20         4  6.875934
1  B_1    Cell0  Type2  Mode2      532.0         20         4  6.875934
2  B_2    Cell0  Type1  Mode2      365.0         20         4  6.875934
3  B_3    Cell0  Type2  Mode2      532.0         20         4  6.875934
4  B_4    Cell0  Type2  Mode2      532.0         20         4  6.875934

In [72]:
base.shape

(1217, 8)

In [73]:
cell.head()

,Time,BS,CellName,load,ESMode1,ESMode2,ESMode3,ESMode4,ESMode5,ESMode6
0,1/1/2023 1:00,B_0,Cell0,0.487936,0.0,0.0,0.0,0,0.0,0.0
1,1/1/2023 2:00,B_0,Cell0,0.344468,0.0,0.0,0.0,0,0.0,0.0
2,1/1/2023 3:00,B_0,Cell0,0.193766,0.0,0.0,0.0,0,0.0,0.0
3,1/1/2023 4:00,B_0,Cell0,0.222383,0.0,0.0,0.0,0,0.0,0.0
4,1/1/2023 5:00,B_0,Cell0,0.175436,0.0,0.0,0.0,0,0.0,0.0

In [74]:
cell.shape

(125575, 10)

In [75]:
energy.head()

            Time   BS     Energy
0  1/1/2023 1:00  B_0  64.275037
1  1/1/2023 2:00  B_0  55.904335
2  1/1/2023 3:00  B_0  57.698057
3  1/1/2023 4:00  B_0  55.156951
4  1/1/2023 5:00  B_0  56.053812

In [76]:
energy.shape

(92629, 3)

In [77]:
submit.head()

             Time   BS  Energy  w
0   1/1/2023 6:00  B_0     NaN  1
1  1/1/2023 11:00  B_0     NaN  1
2  1/1/2023 12:00  B_0     NaN  1
3  1/1/2023 13:00  B_0     NaN  1
4  1/1/2023 23:00  B_0     NaN  1

In [85]:
submit.shape

(26139, 3)

In [44]:
base_cell=pd.merge(cell, base, on=['BS','CellName'], how='left')

In [45]:
base_cell.head(20)

,Time,BS,CellName,load,ESMode1,ESMode2,ESMode3,ESMode4,ESMode5,ESMode6,RUType,Mode,Frequency,Bandwidth,Antennas,TXpower
0,1/1/2023 1:00,B_0,Cell0,0.487936,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.0,20,4,6.875934
1,1/1/2023 2:00,B_0,Cell0,0.344468,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.0,20,4,6.875934
2,1/1/2023 3:00,B_0,Cell0,0.193766,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.0,20,4,6.875934
3,1/1/2023 4:00,B_0,Cell0,0.222383,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.0,20,4,6.875934
4,1/1/2023 5:00,B_0,Cell0,0.175436,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.0,20,4,6.875934
5,1/1/2023 6:00,B_0,Cell0,0.189872,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.0,20,4,6.875934
6,1/1/2023 7:00,B_0,Cell0,0.351585,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.0,20,4,6.875934
7,1/1/2023 8:00,B_0,Cell0,0.759298,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.0,20,4,6.875934
8,1/1/2023 9:00,B_0,Cell0,0.887798,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.0,20,4,6.875934
9,1/1/2023 10:00,B_0,Cell0,0.624745,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.0,20,4,6.875934
10,1/1/2023 11:00,B_0,Cell0,0.522096,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.0,20,4,6.875934
11,1/1/2023 12:00,B_0,Cell0,0.439968,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.0,20,4,6.875934
12,1/1/2023 13:00,B_0,Cell0,0.482723,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.0,20,4,6.875934
13,1/1/2023 14:00,B_0,Cell0,0.437926,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.0,20,4,6.875934
14,1/1/2023 15:00,B_0,Cell0,0.403457,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.0,20,4,6.875934
15,1/1/2023 16:00,B_0,Cell0,0.428989,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.0,20,4,6.875934
16,1/1/2023 17:00,B_0,Cell0,0.553500,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.0,20,4,6.875934
17,1/1/2023 18:00,B_0,Cell0,0.870181,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.0,20,4,6.875934
18,1/1/2023 19:00,B_0,Cell0,0.869766,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.0,20,4,6.875934
19,1/1/2023 20:00,B_0,Cell0,0.782330,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.0,20,4,6.875934

In [46]:
base_cell.shape

(125575, 16)

In [47]:
base_cell.isnull().sum()

Time         0
BS           0
CellName     0
load         0
ESMode1      0
ESMode2      0
ESMode3      0
ESMode4      0
ESMode5      0
ESMode6      0
RUType       0
Mode         0
Frequency    0
Bandwidth    0
Antennas     0
TXpower      0
dtype: int64

In [48]:
base_cell_energy=pd.merge(base_cell, energy, on=['Time','BS'], how='inner')

In [49]:
base_cell_energy.head(20)

,Time,BS,CellName,load,ESMode1,ESMode2,ESMode3,ESMode4,ESMode5,ESMode6,RUType,Mode,Frequency,Bandwidth,Antennas,TXpower,Energy
0,1/1/2023 1:00,B_0,Cell0,0.487936,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.00,20,4,6.875934,64.275037
1,1/1/2023 2:00,B_0,Cell0,0.344468,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.00,20,4,6.875934,55.904335
2,1/1/2023 3:00,B_0,Cell0,0.193766,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.00,20,4,6.875934,57.698057
3,1/1/2023 4:00,B_0,Cell0,0.222383,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.00,20,4,6.875934,55.156951
4,1/1/2023 5:00,B_0,Cell0,0.175436,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.00,20,4,6.875934,56.053812
5,1/1/2023 7:00,B_0,Cell0,0.351585,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.00,20,4,6.875934,82.959641
6,1/1/2023 8:00,B_0,Cell0,0.759298,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.00,20,4,6.875934,91.031390
7,1/1/2023 9:00,B_0,Cell0,0.887798,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.00,20,4,6.875934,78.176383
8,1/1/2023 10:00,B_0,Cell0,0.624745,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.00,20,4,6.875934,72.645740
9,1/1/2023 14:00,B_0,Cell0,0.437926,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.00,20,4,6.875934,66.666667
10,1/1/2023 15:00,B_0,Cell0,0.403457,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.00,20,4,6.875934,67.563528
11,1/1/2023 16:00,B_0,Cell0,0.428989,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.00,20,4,6.875934,72.645740
12,1/1/2023 17:00,B_0,Cell0,0.553500,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.00,20,4,6.875934,88.041854
13,1/1/2023 18:00,B_0,Cell0,0.870181,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.00,20,4,6.875934,90.284006
14,1/1/2023 19:00,B_0,Cell0,0.869766,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.00,20,4,6.875934,84.304933
15,1/1/2023 20:00,B_0,Cell0,0.782330,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.00,20,4,6.875934,77.130045
16,1/1/2023 21:00,B_0,Cell0,0.651032,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.00,20,4,6.875934,79.073244
17,1/1/2023 22:00,B_0,Cell0,0.660245,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.00,20,4,6.875934,83.557549
18,1/2/2023 0:00,B_0,Cell0,0.785202,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,365.00,20,4,6.875934,78.624813
19,1/2/2023 0:00,B_0,Cell1,0.216269,0.0,0.0,0.0,0,0.0,0.0,Type1,Mode2,426.98,2,4,7.327504,78.624813

In [50]:
base_cell_energy.isnull().sum()

Time         0
BS           0
CellName     0
load         0
ESMode1      0
ESMode2      0
ESMode3      0
ESMode4      0
ESMode5      0
ESMode6      0
RUType       0
Mode         0
Frequency    0
Bandwidth    0
Antennas     0
TXpower      0
Energy       0
dtype: int64

In [51]:
base_cell_energy.tail(20)

,Time,BS,CellName,load,ESMode1,ESMode2,ESMode3,ESMode4,ESMode5,ESMode6,RUType,Mode,Frequency,Bandwidth,Antennas,TXpower,Energy
98064,1/2/2023 19:00,B_1007,Cell0,0.196459,0.0,0.0,0.0,0,0.0,0.333212,Type10,Mode1,697.002,10,32,8.034529,45.291480
98065,1/2/2023 20:00,B_1007,Cell0,0.156353,0.0,0.0,0.0,0,0.0,0.357634,Type10,Mode1,697.002,10,32,8.034529,43.049327
98066,1/2/2023 22:00,B_1007,Cell0,0.157346,0.0,0.0,0.0,0,0.0,0.361059,Type10,Mode1,697.002,10,32,8.034529,42.451420
98067,1/2/2023 23:00,B_1007,Cell0,0.237474,0.0,0.0,0.0,0,0.0,0.323659,Type10,Mode1,697.002,10,32,8.034529,47.085202
98068,1/2/2023 1:00,B_1018,Cell0,0.046365,0.0,0.0,0.0,0,0.0,0.877926,Type5,Mode2,426.980,2,2,7.325859,13.153961
98069,1/2/2023 3:00,B_1018,Cell0,0.046981,0.0,0.0,0.0,0,0.0,0.882760,Type5,Mode2,426.980,2,2,7.325859,13.153961
98070,1/2/2023 7:00,B_1018,Cell0,0.048942,0.0,0.0,0.0,0,0.0,0.876331,Type5,Mode2,426.980,2,2,7.325859,13.303438
98071,1/2/2023 8:00,B_1018,Cell0,0.053596,0.0,0.0,0.0,0,0.0,0.863739,Type5,Mode2,426.980,2,2,7.325859,13.452915
98072,1/2/2023 10:00,B_1018,Cell0,0.099885,0.0,0.0,0.0,0,0.0,0.793003,Type5,Mode2,426.980,2,2,7.325859,14.947683
98073,1/2/2023 11:00,B_1018,Cell0,0.064846,0.0,0.0,0.0,0,0.0,0.829204,Type5,Mode2,426.980,2,2,7.325859,13.901345
98074,1/2/2023 12:00,B_1018,Cell0,0.063731,0.0,0.0,0.0,0,0.0,0.830742,Type5,Mode2,426.980,2,2,7.325859,14.050822
98075,1/2/2023 13:00,B_1018,Cell0,0.088788,0.0,0.0,0.0,0,0.0,0.760153,Type5,Mode2,426.980,2,2,7.325859,14.798206
98076,1/2/2023 14:00,B_1018,Cell0,0.085500,0.0,0.0,0.0,0,0.0,0.774929,Type5,Mode2,426.980,2,2,7.325859,14.798206
98077,1/2/2023 15:00,B_1018,Cell0,0.059885,0.0,0.0,0.0,0,0.0,0.825897,Type5,Mode2,426.980,2,2,7.325859,14.349776
98078,1/2/2023 16:00,B_1018,Cell0,0.088692,0.0,0.0,0.0,0,0.0,0.757633,Type5,Mode2,426.980,2,2,7.325859,15.097160
98079,1/2/2023 17:00,B_1018,Cell0,0.087538,0.0,0.0,0.0,0,0.0,0.781566,Type5,Mode2,426.980,2,2,7.325859,14.648729
98080,1/2/2023 18:00,B_1018,Cell0,0.082635,0.0,0.0,0.0,0,0.0,0.804310,Type5,Mode2,426.980,2,2,7.325859,14.648729
98081,1/2/2023 21:00,B_1018,Cell0,0.055538,0.0,0.0,0.0,0,0.0,0.846935,Type5,Mode2,426.980,2,2,7.325859,13.452915
98082,1/2/2023 22:00,B_1018,Cell0,0.058077,0.0,0.0,0.0,0,0.0,0.856434,Type5,Mode2,426.980,2,2,7.325859,13.602392
98083,1/2/2023 23:00,B_1018,Cell0,0.048173,0.0,0.0,0.0,0,0.0,0.879232,Type5,Mode2,426.980,2,2,7.325859,13.303438

In [52]:
base_cell_energy[base_cell_energy['BS']=='B_995']

,Time,BS,CellName,load,ESMode1,ESMode2,ESMode3,ESMode4,ESMode5,ESMode6,RUType,Mode,Frequency,Bandwidth,Antennas,TXpower,Energy
97871,1/2/2023 0:00,B_995,Cell0,0.126423,0.0,0.0,0.0,0,0.0,0.721341,Type9,Mode2,426.98,2,2,7.325859,19.431988
97872,1/2/2023 1:00,B_995,Cell0,0.089596,0.0,0.0,0.0,0,0.0,0.784802,Type9,Mode2,426.98,2,2,7.325859,17.638266
97873,1/2/2023 2:00,B_995,Cell0,0.112712,0.0,0.0,0.0,0,0.0,0.755955,Type9,Mode2,426.98,2,2,7.325859,18.086697
97874,1/2/2023 3:00,B_995,Cell0,0.151231,0.0,0.0,0.0,0,0.0,0.740669,Type9,Mode2,426.98,2,2,7.325859,18.834081
97875,1/2/2023 4:00,B_995,Cell0,0.106096,0.0,0.0,0.0,0,0.0,0.797905,Type9,Mode2,426.98,2,2,7.325859,17.787743
97876,1/2/2023 5:00,B_995,Cell0,0.115769,0.0,0.0,0.0,0,0.0,0.785993,Type9,Mode2,426.98,2,2,7.325859,18.086697
97877,1/2/2023 6:00,B_995,Cell0,0.110404,0.0,0.0,0.0,0,0.0,0.750050,Type9,Mode2,426.98,2,2,7.325859,18.684604
97878,1/2/2023 7:00,B_995,Cell0,0.124923,0.0,0.0,0.0,0,0.0,0.676944,Type9,Mode2,426.98,2,2,7.325859,20.029895
97879,1/2/2023 8:00,B_995,Cell0,0.164519,0.0,0.0,0.0,0,0.0,0.672512,Type9,Mode2,426.98,2,2,7.325859,20.926756
97880,1/2/2023 9:00,B_995,Cell0,0.140077,0.0,0.0,0.0,0,0.0,0.676407,Type9,Mode2,426.98,2,2,7.325859,20.478326
97881,1/2/2023 10:00,B_995,Cell0,0.208865,0.0,0.0,0.0,0,0.0,0.517390,Type9,Mode2,426.98,2,2,7.325859,22.720478
97882,1/2/2023 13:00,B_995,Cell0,0.165788,0.0,0.0,0.0,0,0.0,0.615370,Type9,Mode2,426.98,2,2,7.325859,21.524664
97883,1/2/2023 14:00,B_995,Cell0,0.131519,0.0,0.0,0.0,0,0.0,0.701059,Type9,Mode2,426.98,2,2,7.325859,20.328849
97884,1/2/2023 15:00,B_995,Cell0,0.115962,0.0,0.0,0.0,0,0.0,0.722057,Type9,Mode2,426.98,2,2,7.325859,20.627803
97885,1/2/2023 16:00,B_995,Cell0,0.138673,0.0,0.0,0.0,0,0.0,0.710632,Type9,Mode2,426.98,2,2,7.325859,21.076233
97886,1/2/2023 18:00,B_995,Cell0,0.140788,0.0,0.0,0.0,0,0.0,0.684362,Type9,Mode2,426.98,2,2,7.325859,20.777280
97887,1/2/2023 19:00,B_995,Cell0,0.109808,0.0,0.0,0.0,0,0.0,0.748138,Type9,Mode2,426.98,2,2,7.325859,19.880419
97888,1/2/2023 20:00,B_995,Cell0,0.139769,0.0,0.0,0.0,0,0.0,0.708433,Type9,Mode2,426.98,2,2,7.325859,20.328849
97889,1/2/2023 21:00,B_995,Cell0,0.157019,0.0,0.0,0.0,0,0.0,0.685223,Type9,Mode2,426.98,2,2,7.325859,21.076233
97890,1/2/2023 23:00,B_995,Cell0,0.265500,0.0,0.0,0.0,0,0.0,0.498793,Type9,Mode2,426.98,2,2,7.325859,23.168909

In [53]:
base_cell_energy['BS'] = base_cell_energy['BS'].str.replace('B_', '')
base_cell_energy['CellName'] = base_cell_energy['CellName'].str.replace('Cell', '')
base_cell_energy['RUType'] = base_cell_energy['RUType'].str.replace('Type', '')
base_cell_energy['Mode'] = base_cell_energy['Mode'].str.replace('Mode', '')
base_cell_energy['Time'] = pd.to_datetime(base_cell_energy['Time'])

In [54]:
base_cell_energy

,Time,BS,CellName,load,ESMode1,ESMode2,ESMode3,ESMode4,ESMode5,ESMode6,RUType,Mode,Frequency,Bandwidth,Antennas,TXpower,Energy
0,2023-01-01 01:00:00,0,0,0.487936,0.0,0.0,0.0,0,0.0,0.000000,1,2,365.00,20,4,6.875934,64.275037
1,2023-01-01 02:00:00,0,0,0.344468,0.0,0.0,0.0,0,0.0,0.000000,1,2,365.00,20,4,6.875934,55.904335
2,2023-01-01 03:00:00,0,0,0.193766,0.0,0.0,0.0,0,0.0,0.000000,1,2,365.00,20,4,6.875934,57.698057
3,2023-01-01 04:00:00,0,0,0.222383,0.0,0.0,0.0,0,0.0,0.000000,1,2,365.00,20,4,6.875934,55.156951
4,2023-01-01 05:00:00,0,0,0.175436,0.0,0.0,0.0,0,0.0,0.000000,1,2,365.00,20,4,6.875934,56.053812
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98079,2023-01-02 17:00:00,1018,0,0.087538,0.0,0.0,0.0,0,0.0,0.781566,5,2,426.98,2,2,7.325859,14.648729
98080,2023-01-02 18:00:00,1018,0,0.082635,0.0,0.0,0.0,0,0.0,0.804310,5,2,426.98,2,2,7.325859,14.648729
98081,2023-01-02 21:00:00,1018,0,0.055538,0.0,0.0,0.0,0,0.0,0.846935,5,2,426.98,2,2,7.325859,13.452915
98082,2023-01-02 22:00:00,1018,0,0.058077,0.0,0.0,0.0,0,0.0,0.856434,5,2,426.98,2,2,7.325859,13.602392
98083,2023-01-02 23:00:00,1018,0,0.048173,0.0,0.0,0.0,0,0.0,0.879232,5,2,426.98,2,2,7.325859,13.303438

In [55]:
base_cell_energy['Time']=base_cell_energy['Time'].values.astype(float).reshape(-1, 1)  # Convert datetime to float and reshape

In [92]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

base=pd.read_csv('BSinfo.csv')
cell=pd.read_csv('CLdata.csv')
energy=pd.read_csv('ECdata.csv')

base_cell=pd.merge(cell, base, on=['BS','CellName'], how='left')
base_cell_energy=pd.merge(base_cell, energy, on=['Time','BS'], how='inner')

base_cell_energy['BS'] = base_cell_energy['BS'].str.replace('B_', '')
base_cell_energy['CellName'] = base_cell_energy['CellName'].str.replace('Cell', '')
base_cell_energy['RUType'] = base_cell_energy['RUType'].str.replace('Type', '')
base_cell_energy['Mode'] = base_cell_energy['Mode'].str.replace('Mode', '')

base_cell_energy['Time'] = pd.to_datetime(base_cell_energy['Time'])
base_cell_energy['Time']=base_cell_energy['Time'].values.astype(float).reshape(-1, 1)  # Convert datetime to float and reshape

x=base_cell_energy
y=x.pop(item='Energy')

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler on the training data and transform both training and testing data
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Now X_train_scaled and X_test_scaled are scaled versions of the training and testing data


# Create a Linear Regression model
model = LinearRegression()

# Fit the model on the scaled training data
model.fit(X_train_scaled, y_train)

# Predict the target variable for the scaled testing data
y_pred = model.predict(X_test_scaled)

# Calculate the Weighted Mean Absolute Percentage Error (WMAPE)
def wmape(y_true, y_pred):
    weights = np.abs(y_true)
    wmape = np.sum(np.abs(y_true - y_pred) / weights) * 100.0 / np.sum(weights)
    return wmape

wmape_score = wmape(y_test, y_pred)
print("WMAPE:", wmape_score)

# Calculate the R-squared (R2) score
r2 = r2_score(y_test, y_pred)
print("R-squared:", r2)

# Calculate the Mean Squared Error (MSE)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

# Calculate the Mean Absolute Error (MAE)
mae = mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error:", mae)

WMAPE: 0.6861249619111771
R-squared: 0.7623472360057131
Mean Squared Error: 48.83985266814597
Mean Absolute Error: 5.010667001298484

In [93]:
import joblib

# Save the model using joblib
model_filename = 'linear_regression_model.joblib'
joblib.dump(model, model_filename)

print("Linear Regression model saved as", model_filename)

Linear Regression model saved as linear_regression_model.joblib

In [94]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
import joblib

# Load the saved model
loaded_model = joblib.load('linear_regression_model.joblib')

# Load the new dataset
base=pd.read_csv('BSinfo.csv')
cell=pd.read_csv('CLdata.csv')
submit=pd.read_csv("PCprediction.csv")
# Assuming the new_data has the same features as the training data
# Make sure to preprocess the new_data in the same way you preprocessed the training data
submit.drop(['w'], axis=1, inplace=True)

base_cell=pd.merge(cell, base, on=['BS','CellName'], how='left')

base_cell_submit=pd.merge( submit, base_cell,  on=['Time','BS'], how='left')
base_cell_submit = base_cell_submit.drop_duplicates(subset=['Time','BS'], keep='first')

base_cell_submit['BS'] = base_cell_submit['BS'].str.replace('B_', '')
base_cell_submit['CellName'] = base_cell_submit['CellName'].str.replace('Cell', '')
base_cell_submit['RUType'] = base_cell_submit['RUType'].str.replace('Type', '')
base_cell_submit['Mode'] = base_cell_submit['Mode'].str.replace('Mode', '')
base_cell_submit['Time'] = pd.to_datetime(base_cell_submit['Time'])

base_cell_submit['Time']=base_cell_submit['Time'].values.astype(float).reshape(-1, 1)  # Convert datetime to float and reshape

base_cell_submit.drop(['Energy'], axis=1, inplace=True)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler on the training data and transform both training and testing data
base_cell_submit = scaler.fit_transform(base_cell_submit)

# Use the loaded model to predict values for the new data
predictions = loaded_model.predict(base_cell_submit)

# Print the predicted values
print(predictions.shape)

submit['Energy']= predictions
submit['Time'] = pd.to_datetime(submit['Time'])
# Create the 'ID' column by joining 'Time' and 'BS' columns
submit['ID'] = submit['Time'].astype(str) + '_' + submit['BS']

# Remove unnecessary columns and reorder columns
submit = submit[['ID', 'Energy']]

# Save the submission file
submit.to_csv('SampleSubmission__30_.csv', index=False)

submit.head()

(26139,)

                        ID     Energy
0  2023-01-01 06:00:00_B_0  41.547626
1  2023-01-01 11:00:00_B_0  51.223942
2  2023-01-01 12:00:00_B_0  48.821890
3  2023-01-01 13:00:00_B_0  50.065583
4  2023-01-01 23:00:00_B_0  58.772603

In [115]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

base=pd.read_csv('BSinfo.csv')
cell=pd.read_csv('CLdata.csv')
energy=pd.read_csv('ECdata.csv')

base_cell=pd.merge(cell, base, on=['BS','CellName'], how='left')
base_cell_energy=pd.merge(base_cell, energy, on=['Time','BS'], how='inner')

base_cell_energy['BS'] = base_cell_energy['BS'].str.replace('B_', '')
base_cell_energy['CellName'] = base_cell_energy['CellName'].str.replace('Cell', '')
base_cell_energy['RUType'] = base_cell_energy['RUType'].str.replace('Type', '')
base_cell_energy['Mode'] = base_cell_energy['Mode'].str.replace('Mode', '')

base_cell_energy['Time'] = pd.to_datetime(base_cell_energy['Time'])
base_cell_energy['Time']=base_cell_energy['Time'].values.astype(float).reshape(-1, 1)  # Convert datetime to float and reshape

base_cell_energy.drop(['ESMode3','ESMode4','ESMode5'], axis=1, inplace=True)

x=base_cell_energy
y=x.pop(item='Energy')

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler on the training data and transform both training and testing data
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
# Now X_train_scaled and X_test_scaled are scaled versions of the training and testing data


# Create a Decision Tree Regressor model
model = DecisionTreeRegressor(random_state=42)

# Fit the model on the scaled training data
model.fit(X_train_scaled, y_train)

# Predict the target variable for the scaled testing data
y_pred = model.predict(X_test_scaled)

# Calculate the Weighted Mean Absolute Percentage Error (WMAPE)
def wmape(y_true, y_pred):
    weights = np.abs(y_true)
    wmape = np.sum(np.abs(y_true - y_pred) / weights) * 100.0 / np.sum(weights)
    return wmape

wmape_score = wmape(y_test, y_pred)
print("WMAPE:", wmape_score)

# Calculate the R-squared (R2) score
r2 = r2_score(y_test, y_pred)
print("R-squared:", r2)

# Calculate the Mean Squared Error (MSE)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

# Calculate the Mean Absolute Error (MAE)
mae = mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error:", mae)

WMAPE: 0.27859542321564695
R-squared: 0.9328924214869793
Mean Squared Error: 13.79123134276175
Mean Absolute Error: 2.3034000968143444

In [116]:
import joblib

# Save the model using joblib
model_filename = 'Decision_tree_model.joblib'
joblib.dump(model, model_filename)

print("Decision Tree model saved as", model_filename)

Decision Tree model saved as Decision_tree_model.joblib

In [117]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
import joblib

# Load the saved model
loaded_model = joblib.load('Decision_tree_model.joblib')

# Load the new dataset
base=pd.read_csv('BSinfo.csv')
cell=pd.read_csv('CLdata.csv')
submit=pd.read_csv("PCprediction.csv")
# Assuming the new_data has the same features as the training data
# Make sure to preprocess the new_data in the same way you preprocessed the training data
submit.drop(['w'], axis=1, inplace=True)

base_cell=pd.merge(cell, base, on=['BS','CellName'], how='left')

base_cell_submit=pd.merge( submit, base_cell,  on=['Time','BS'], how='left')
base_cell_submit = base_cell_submit.drop_duplicates(subset=['Time','BS'], keep='first')

base_cell_submit['BS'] = base_cell_submit['BS'].str.replace('B_', '')
base_cell_submit['CellName'] = base_cell_submit['CellName'].str.replace('Cell', '')
base_cell_submit['RUType'] = base_cell_submit['RUType'].str.replace('Type', '')
base_cell_submit['Mode'] = base_cell_submit['Mode'].str.replace('Mode', '')
base_cell_submit['Time'] = pd.to_datetime(base_cell_submit['Time'])

base_cell_submit['Time']=base_cell_submit['Time'].values.astype(float).reshape(-1, 1)  # Convert datetime to float and reshape

base_cell_submit.drop(['ESMode3','ESMode4','ESMode5'], axis=1, inplace=True)

base_cell_submit.drop(['Energy'], axis=1, inplace=True)


# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler on the training data and transform both training and testing data
base_cell_submit = scaler.fit_transform(base_cell_submit)

# Use the loaded model to predict values for the new data
predictions = loaded_model.predict(base_cell_submit)

# Print the predicted values
print(predictions.shape)

submit['Energy']= predictions
submit['Time'] = pd.to_datetime(submit['Time'])
# Create the 'ID' column by joining 'Time' and 'BS' columns
submit['ID'] = submit['Time'].astype(str) + '_' + submit['BS']

# Remove unnecessary columns and reorder columns
submit = submit[['ID', 'Energy']]

# Save the submission file
submit.to_csv('SampleSubmission__32_.csv', index=False)

submit.head()

(26139,)

                        ID     Energy
0  2023-01-01 06:00:00_B_0  35.426009
1  2023-01-01 11:00:00_B_0  44.843049
2  2023-01-01 12:00:00_B_0  47.085202
3  2023-01-01 13:00:00_B_0  42.301943
4  2023-01-01 23:00:00_B_0  54.110613

In [109]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# Load your datasets
base = pd.read_csv('BSinfo.csv')
cell = pd.read_csv('CLdata.csv')
energy = pd.read_csv('ECdata.csv')

# Merge the datasets and perform preprocessing
base_cell = pd.merge(cell, base, on=['BS','CellName'], how='left')
base_cell_energy = pd.merge(base_cell, energy, on=['Time','BS'], how='inner')

base_cell_energy['BS'] = base_cell_energy['BS'].str.replace('B_', '')
base_cell_energy['CellName'] = base_cell_energy['CellName'].str.replace('Cell', '')
base_cell_energy['RUType'] = base_cell_energy['RUType'].str.replace('Type', '')
base_cell_energy['Mode'] = base_cell_energy['Mode'].str.replace('Mode', '')

base_cell_energy['Time'] = pd.to_datetime(base_cell_energy['Time'])
base_cell_energy['Time'] = base_cell_energy['Time'].values.astype(float).reshape(-1, 1)  # Convert datetime to float and reshape

base_cell_energy.drop(['ESMode3', 'ESMode4', 'ESMode5'], axis=1, inplace=True)

# Separate features (X) and target (y)
x = base_cell_energy.drop(['Energy'], axis=1)
y = base_cell_energy['Energy']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler on the training data and transform both training and testing data
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Create a Decision Tree Regressor model
model = DecisionTreeRegressor(random_state=42)

# Perform cross-validation on the model
cv_scores = cross_val_score(model, X_train_scaled, y_train, cv=5, scoring='neg_mean_squared_error')
cv_rmse_scores = np.sqrt(-cv_scores)

# Print the cross-validation scores
print("Cross-Validation RMSE scores:", cv_rmse_scores)
print("Mean RMSE:", cv_rmse_scores.mean())

# Fit the model on the entire training data
model.fit(X_train_scaled, y_train)

# Predict the target variable for the scaled testing data
y_pred = model.predict(X_test_scaled)

# Calculate the Weighted Mean Absolute Percentage Error (WMAPE)
def wmape(y_true, y_pred):
    weights = np.abs(y_true)
    wmape = np.sum(np.abs(y_true - y_pred) / weights) * 100.0 / np.sum(weights)
    return wmape

wmape_score = wmape(y_test, y_pred)
print("WMAPE:", wmape_score)

# Calculate the R-squared (R2) score
r2 = r2_score(y_test, y_pred)
print("R-squared:", r2)

# Calculate the Mean Squared Error (MSE)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

# Calculate the Mean Absolute Error (MAE)
mae = mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error:", mae)

Cross-Validation RMSE scores: [3.7786414  3.88008289 3.75861742 3.75242646 3.85439055]
Mean RMSE: 3.8048317453388742
WMAPE: 0.27859542321564695
R-squared: 0.9328924214869793
Mean Squared Error: 13.79123134276175
Mean Absolute Error: 2.3034000968143444

In [111]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# Load your datasets
base = pd.read_csv('BSinfo.csv')
cell = pd.read_csv('CLdata.csv')
energy = pd.read_csv('ECdata.csv')

# Merge the datasets and perform preprocessing
base_cell = pd.merge(cell, base, on=['BS', 'CellName'], how='left')
base_cell_energy = pd.merge(base_cell, energy, on=['Time', 'BS'], how='inner')

# Preprocessing
base_cell_energy['BS'] = base_cell_energy['BS'].str.replace('B_', '')
base_cell_energy['CellName'] = base_cell_energy['CellName'].str.replace('Cell', '')
base_cell_energy['RUType'] = base_cell_energy['RUType'].str.replace('Type', '')
base_cell_energy['Mode'] = base_cell_energy['Mode'].str.replace('Mode', '')

base_cell_energy['Time'] = pd.to_datetime(base_cell_energy['Time'])
base_cell_energy['Time'] = base_cell_energy['Time'].values.astype(float).reshape(-1, 1)

base_cell_energy.drop(['ESMode3', 'ESMode4', 'ESMode5'], axis=1, inplace=True)

# Separate features (X) and target (y)
x = base_cell_energy.drop(['Energy'], axis=1)
y = base_cell_energy['Energy']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler on the training data and transform both training and testing data
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Create a Decision Tree Regressor model
model = DecisionTreeRegressor(random_state=42)

# Define hyperparameters to tune
param_grid = {
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

# Create GridSearchCV instance
grid_search = GridSearchCV(model, param_grid, cv=5, scoring='neg_mean_squared_error')

# Fit the model on the scaled training data with hyperparameter tuning
grid_search.fit(X_train_scaled, y_train)

# Get the best hyperparameters
best_params = grid_search.best_params_
print("Best Hyperparameters:", best_params)

# Get the best model
best_model = grid_search.best_estimator_

# Predict the target variable for the scaled testing data using the best model
y_pred = best_model.predict(X_test_scaled)

# Calculate the Weighted Mean Absolute Percentage Error (WMAPE)
def wmape(y_true, y_pred):
    weights = np.abs(y_true)
    wmape = np.sum(np.abs(y_true - y_pred) / weights) * 100.0 / np.sum(weights)
    return wmape

wmape_score = wmape(y_test, y_pred)
print("WMAPE:", wmape_score)


# Calculate the R-squared (R2) score
r2 = r2_score(y_test, y_pred)
print("R-squared:", r2)

# Calculate the Mean Squared Error (MSE)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

# Calculate the Mean Absolute Error (MAE)
mae = mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error:", mae)

Best Hyperparameters: {'max_depth': 30, 'min_samples_leaf': 4, 'min_samples_split': 10}
WMAPE: 0.2492304818357957
R-squared: 0.9499712372923668
Mean Squared Error: 10.281375897943184
Mean Absolute Error: 2.0229768702703956

In [113]:
import joblib

# Save the model using joblib
model_filename = 'Decision_tree_grid_model.joblib'
joblib.dump(best_model, model_filename)

print("Decision Tree model saved as", model_filename)

Decision Tree model saved as Decision_tree_grid_model.joblib

In [114]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
import joblib

# Load the saved model
loaded_model = joblib.load('Decision_tree_grid_model.joblib')

# Load the new dataset
base=pd.read_csv('BSinfo.csv')
cell=pd.read_csv('CLdata.csv')
submit=pd.read_csv("PCprediction.csv")
# Assuming the new_data has the same features as the training data
# Make sure to preprocess the new_data in the same way you preprocessed the training data
submit.drop(['w'], axis=1, inplace=True)

base_cell=pd.merge(cell, base, on=['BS','CellName'], how='left')

base_cell_submit=pd.merge( submit, base_cell,  on=['Time','BS'], how='left')
base_cell_submit = base_cell_submit.drop_duplicates(subset=['Time','BS'], keep='first')

base_cell_submit['BS'] = base_cell_submit['BS'].str.replace('B_', '')
base_cell_submit['CellName'] = base_cell_submit['CellName'].str.replace('Cell', '')
base_cell_submit['RUType'] = base_cell_submit['RUType'].str.replace('Type', '')
base_cell_submit['Mode'] = base_cell_submit['Mode'].str.replace('Mode', '')
base_cell_submit['Time'] = pd.to_datetime(base_cell_submit['Time'])

base_cell_submit['Time']=base_cell_submit['Time'].values.astype(float).reshape(-1, 1)  # Convert datetime to float and reshape

base_cell_submit.drop(['ESMode3','ESMode4','ESMode5'], axis=1, inplace=True)

base_cell_submit.drop(['Energy'], axis=1, inplace=True)


# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler on the training data and transform both training and testing data
base_cell_submit = scaler.fit_transform(base_cell_submit)

# Use the loaded model to predict values for the new data
predictions = loaded_model.predict(base_cell_submit)

# Print the predicted values
print(predictions.shape)

submit['Energy']= predictions
submit['Time'] = pd.to_datetime(submit['Time'])
# Create the 'ID' column by joining 'Time' and 'BS' columns
submit['ID'] = submit['Time'].astype(str) + '_' + submit['BS']

# Remove unnecessary columns and reorder columns
submit = submit[['ID', 'Energy']]

# Save the submission file
submit.to_csv('SampleSubmission__31_.csv', index=False)

submit.head()

(26139,)

                        ID     Energy
0  2023-01-01 06:00:00_B_0  35.781016
1  2023-01-01 11:00:00_B_0  44.411227
2  2023-01-01 12:00:00_B_0  44.411227
3  2023-01-01 13:00:00_B_0  44.411227
4  2023-01-01 23:00:00_B_0  54.020927

In [118]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# Load your datasets
base = pd.read_csv('BSinfo.csv')
cell = pd.read_csv('CLdata.csv')
energy = pd.read_csv('ECdata.csv')

# Merge the datasets and perform preprocessing
base_cell = pd.merge(cell, base, on=['BS', 'CellName'], how='left')
base_cell_energy = pd.merge(base_cell, energy, on=['Time', 'BS'], how='inner')

# Preprocessing
base_cell_energy['BS'] = base_cell_energy['BS'].str.replace('B_', '')
base_cell_energy['CellName'] = base_cell_energy['CellName'].str.replace('Cell', '')
base_cell_energy['RUType'] = base_cell_energy['RUType'].str.replace('Type', '')
base_cell_energy['Mode'] = base_cell_energy['Mode'].str.replace('Mode', '')

base_cell_energy['Time'] = pd.to_datetime(base_cell_energy['Time'])
base_cell_energy['Time'] = base_cell_energy['Time'].values.astype(float).reshape(-1, 1)

base_cell_energy.drop(['ESMode3', 'ESMode4', 'ESMode5'], axis=1, inplace=True)

# Separate features (X) and target (y)
x = base_cell_energy.drop(['Energy'], axis=1)
y = base_cell_energy['Energy']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler on the training data and transform both training and testing data
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Create a Random Forest Regressor model
model = RandomForestRegressor(random_state=42)

# Define hyperparameters to tune
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

# Create GridSearchCV instance
grid_search = GridSearchCV(model, param_grid, cv=5, scoring='neg_mean_squared_error')

# Fit the model on the scaled training data with hyperparameter tuning
grid_search.fit(X_train_scaled, y_train)

# Get the best hyperparameters
best_params = grid_search.best_params_
print("Best Hyperparameters:", best_params)

# Get the best model
best_model = grid_search.best_estimator_

# Predict the target variable for the scaled testing data using the best model
y_pred = best_model.predict(X_test_scaled)

# Calculate the Weighted Mean Absolute Percentage Error (WMAPE)
def wmape(y_true, y_pred):
    weights = np.abs(y_true)
    wmape = np.sum(np.abs(y_true - y_pred) / weights) * 100.0 / np.sum(weights)
    return wmape

wmape_score = wmape(y_test, y_pred)
print("WMAPE:", wmape_score)

# Calculate the R-squared (R2) score
r2 = r2_score(y_test, y_pred)
print("R-squared:", r2)

# Calculate the Mean Squared Error (MSE)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

# Calculate the Mean Absolute Error (MAE)
mae = mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error:", mae)