In [1]:
import pandas as pd

In [7]:
BSinfo = pd.read_csv('..\..\Dataset\BSinfo.csv')
CLdata = pd.read_csv('..\..\Dataset\CLdata.csv')
ECdata = pd.read_csv('..\..\Dataset\ECdata.csv')

In [8]:
CLdata

,Time,BS,CellName,load,ESMode1,ESMode2,ESMode3,ESMode4,ESMode5,ESMode6
0,1/1/2023 1:00,B_0,Cell0,0.487936,0.0,0.0,0.0,0,0.0,0.0
1,1/1/2023 2:00,B_0,Cell0,0.344468,0.0,0.0,0.0,0,0.0,0.0
2,1/1/2023 3:00,B_0,Cell0,0.193766,0.0,0.0,0.0,0,0.0,0.0
3,1/1/2023 4:00,B_0,Cell0,0.222383,0.0,0.0,0.0,0,0.0,0.0
4,1/1/2023 5:00,B_0,Cell0,0.175436,0.0,0.0,0.0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
125570,1/2/2023 19:00,B_745,Cell3,0.071000,0.0,0.0,0.0,0,0.0,0.0
125571,1/2/2023 20:00,B_745,Cell3,0.064962,0.0,0.0,0.0,0,0.0,0.0
125572,1/2/2023 21:00,B_745,Cell3,0.081865,0.0,0.0,0.0,0,0.0,0.0
125573,1/2/2023 22:00,B_745,Cell3,0.097615,0.0,0.0,0.0,0,0.0,0.0
125574,1/2/2023 23:00,B_745,Cell3,0.066212,0.0,0.0,0.0,0,0.0,0.0

In [9]:
BSinfo

         BS CellName RUType   Mode  Frequency  Bandwidth  Antennas   TXpower
0       B_0    Cell0  Type1  Mode2    365.000         20         4  6.875934
1       B_1    Cell0  Type2  Mode2    532.000         20         4  6.875934
2       B_2    Cell0  Type1  Mode2    365.000         20         4  6.875934
3       B_3    Cell0  Type2  Mode2    532.000         20         4  6.875934
4       B_4    Cell0  Type2  Mode2    532.000         20         4  6.875934
...     ...      ...    ...    ...        ...        ...       ...       ...
1212  B_925    Cell1  Type8  Mode1    697.002         10         4  7.877728
1213  B_105    Cell2  Type1  Mode2    426.980          2         2  6.877429
1214  B_745    Cell2  Type1  Mode2    426.980          2         2  6.877429
1215  B_105    Cell3  Type1  Mode2    426.980          2         2  6.877429
1216  B_745    Cell3  Type1  Mode2    426.980          2         2  6.877429

[1217 rows x 8 columns]

In [13]:
ECdata

                 Time      BS     Energy
0       1/1/2023 1:00     B_0  64.275037
1       1/1/2023 2:00     B_0  55.904335
2       1/1/2023 3:00     B_0  57.698057
3       1/1/2023 4:00     B_0  55.156951
4       1/1/2023 5:00     B_0  56.053812
...               ...     ...        ...
92624  1/2/2023 17:00  B_1018  14.648729
92625  1/2/2023 18:00  B_1018  14.648729
92626  1/2/2023 21:00  B_1018  13.452915
92627  1/2/2023 22:00  B_1018  13.602392
92628  1/2/2023 23:00  B_1018  13.303438

[92629 rows x 3 columns]

In [36]:
df = pd.merge(CLdata, BSinfo, on=['BS', 'CellName'], how='left')
df = pd.merge(df, ECdata, on=['Time', 'BS'], how='left')

In [37]:
df['Hour'] = pd.to_datetime(df['Time'], format='%d/%m/%Y %H:%M').dt.hour
df['Month'] = pd.to_datetime(df['Time'], format='%d/%m/%Y %H:%M').dt.month
df['BS'] = df['BS'].str.replace('B_', '').astype(int)
df['CellName'] = df['CellName'].str.replace('Cell', '').astype(int)
df['RUType'] = df['RUType'].str.replace('Type', '').astype(int)
df['Mode'] = df['Mode'].str.replace('Mode', '').astype(int)
df

,Time,BS,CellName,load,ESMode1,ESMode2,ESMode3,ESMode4,ESMode5,ESMode6,RUType,Mode,Frequency,Bandwidth,Antennas,TXpower,Energy,Hour,Month
0,1/1/2023 1:00,0,0,0.487936,0.0,0.0,0.0,0,0.0,0.0,1,2,365.00,20,4,6.875934,64.275037,1,1
1,1/1/2023 2:00,0,0,0.344468,0.0,0.0,0.0,0,0.0,0.0,1,2,365.00,20,4,6.875934,55.904335,2,1
2,1/1/2023 3:00,0,0,0.193766,0.0,0.0,0.0,0,0.0,0.0,1,2,365.00,20,4,6.875934,57.698057,3,1
3,1/1/2023 4:00,0,0,0.222383,0.0,0.0,0.0,0,0.0,0.0,1,2,365.00,20,4,6.875934,55.156951,4,1
4,1/1/2023 5:00,0,0,0.175436,0.0,0.0,0.0,0,0.0,0.0,1,2,365.00,20,4,6.875934,56.053812,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125570,1/2/2023 19:00,745,3,0.071000,0.0,0.0,0.0,0,0.0,0.0,1,2,426.98,2,2,6.877429,60.837070,19,2
125571,1/2/2023 20:00,745,3,0.064962,0.0,0.0,0.0,0,0.0,0.0,1,2,426.98,2,2,6.877429,55.904335,20,2
125572,1/2/2023 21:00,745,3,0.081865,0.0,0.0,0.0,0,0.0,0.0,1,2,426.98,2,2,6.877429,61.883408,21,2
125573,1/2/2023 22:00,745,3,0.097615,0.0,0.0,0.0,0,0.0,0.0,1,2,426.98,2,2,6.877429,65.470852,22,2
125574,1/2/2023 23:00,745,3,0.066212,0.0,0.0,0.0,0,0.0,0.0,1,2,426.98,2,2,6.877429,60.538117,23,2

In [44]:
# df = df.drop(['Time'], axis=1)
df = df.drop(['ESMode3', 'ESMode4', 'ESMode5'], axis=1)
df

,BS,CellName,load,ESMode1,ESMode2,ESMode6,RUType,Mode,Frequency,Bandwidth,Antennas,TXpower,Energy,Hour,Month
0,0,0,0.487936,0.0,0.0,0.0,1,2,365.00,20,4,6.875934,64.275037,1,1
1,0,0,0.344468,0.0,0.0,0.0,1,2,365.00,20,4,6.875934,55.904335,2,1
2,0,0,0.193766,0.0,0.0,0.0,1,2,365.00,20,4,6.875934,57.698057,3,1
3,0,0,0.222383,0.0,0.0,0.0,1,2,365.00,20,4,6.875934,55.156951,4,1
4,0,0,0.175436,0.0,0.0,0.0,1,2,365.00,20,4,6.875934,56.053812,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125570,745,3,0.071000,0.0,0.0,0.0,1,2,426.98,2,2,6.877429,60.837070,19,2
125571,745,3,0.064962,0.0,0.0,0.0,1,2,426.98,2,2,6.877429,55.904335,20,2
125572,745,3,0.081865,0.0,0.0,0.0,1,2,426.98,2,2,6.877429,61.883408,21,2
125573,745,3,0.097615,0.0,0.0,0.0,1,2,426.98,2,2,6.877429,65.470852,22,2
125574,745,3,0.066212,0.0,0.0,0.0,1,2,426.98,2,2,6.877429,60.538117,23,2

In [41]:
df.to_csv('..\..\Dataset\df.csv', index=False)

In [42]:
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
import pandas as pd

# Load data (Assuming df is your DataFrame)
# df = pd.read_csv('your_dataset.csv')

# Remove rows with NaN values in the 'Energy' column
df_clean = df.dropna(subset=['Energy'])

# Define features (X) and target (y)
X = df_clean.drop(columns=['Energy'])
y = df_clean['Energy']

# Split the data into training, validation, and test sets
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.3, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

# Standardize the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_val_scaled = scaler.transform(X_val)

# Initialize the model
model = tf.keras.Sequential([
    tf.keras.layers.Dense(128, activation='relu', input_shape=(X_train_scaled.shape[1],)),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(1, activation='linear')
])

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

# Train the model
model.fit(X_train_scaled, y_train, epochs=10, batch_size=128, validation_data=(X_val_scaled, y_val))

# Evaluate the model
y_val_pred = model.predict(X_val_scaled)
mse = mean_squared_error(y_val, y_val_pred)

print(f"Mean Squared Error on the validation set: {mse}")

Epoch 1/10
537/537 [==============================] - 7s 6ms/step - loss: 124.2017 - val_loss: 32.5262
Epoch 2/10
537/537 [==============================] - 3s 5ms/step - loss: 28.0594 - val_loss: 24.8233
Epoch 3/10
537/537 [==============================] - 3s 5ms/step - loss: 21.7374 - val_loss: 21.2320
Epoch 4/10
537/537 [==============================] - 3s 5ms/step - loss: 19.8326 - val_loss: 20.0122
Epoch 5/10
537/537 [==============================] - 3s 5ms/step - loss: 18.8307 - val_loss: 20.0198
Epoch 6/10
537/537 [==============================] - 3s 5ms/step - loss: 18.3127 - val_loss: 18.9288
Epoch 7/10
537/537 [==============================] - 3s 5ms/step - loss: 18.1891 - val_loss: 19.1726
Epoch 8/10
537/537 [==============================] - 2s 3ms/step - loss: 17.8347 - val_loss: 18.3207
Epoch 9/10
537/537 [==============================] - 1s 3ms/step - loss: 17.5401 - val_loss: 18.0598
Epoch 10/10
537/537 [==============================] - 1s 2ms/step - loss: 17.4063 - val_loss: 18.0929
460/460 [==============================] - 1s 1ms/step
Mean Squared Error on the validation set: 18.09288935233028

In [46]:
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np

# Load data (Assuming df is your DataFrame)
# df = pd.read_csv('your_dataset.csv')

# Separate rows with NaN values in 'Energy' column
df_nan = df[df['Energy'].isna()]
df_clean = df.dropna(subset=['Energy'])

# Define features (X) and target (y)
X = df_clean.drop(columns=['Energy'])
y = df_clean['Energy']

# Split the data into training, validation, and test sets
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.3, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

# Standardize the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_val_scaled = scaler.transform(X_val)
X_test_scaled = scaler.transform(X_test)
X_nan_scaled = scaler.transform(df_nan.drop(columns=['Energy']))

# Initialize the model
model = tf.keras.Sequential([
    tf.keras.layers.Dense(128, activation='relu', input_shape=(X_train_scaled.shape[1],)),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(1, activation='linear')
])

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

# Train the model
model.fit(X_train_scaled, y_train, epochs=10, batch_size=128, validation_data=(X_val_scaled, y_val))

# # Evaluate the model on the validation set
# y_val_pred = model.predict(X_val_scaled)
# val_mse = mean_squared_error(y_val, y_val_pred)

# Evaluate the model on the test set
y_test_pred = model.predict(X_test_scaled)
test_mse = mean_squared_error(y_test, y_test_pred)

# # Predict the missing Energy values
# predicted_energy = model.predict(X_nan_scaled)

# # Insert the predicted values back into the original DataFrame
# df.loc[df['Energy'].isna(), 'Energy'] = np.squeeze(predicted_energy)

print(f"Mean Squared Error on the validation set: {val_mse}")
print(f"Mean Squared Error on the test set: {test_mse}")

# Now, df should have the missing 'Energy' values filled in.

Epoch 1/10
537/537 [==============================] - 2s 3ms/step - loss: 129.8983 - val_loss: 32.7366
Epoch 2/10
537/537 [==============================] - 1s 2ms/step - loss: 27.8751 - val_loss: 25.3595
Epoch 3/10
537/537 [==============================] - 1s 2ms/step - loss: 22.4018 - val_loss: 21.7474
Epoch 4/10
537/537 [==============================] - 1s 2ms/step - loss: 19.9408 - val_loss: 19.6828
Epoch 5/10
537/537 [==============================] - 1s 2ms/step - loss: 18.8178 - val_loss: 18.9098
Epoch 6/10
537/537 [==============================] - 1s 2ms/step - loss: 18.1745 - val_loss: 18.5255
Epoch 7/10
537/537 [==============================] - 1s 2ms/step - loss: 17.7974 - val_loss: 18.2745
Epoch 8/10
537/537 [==============================] - 1s 2ms/step - loss: 17.5291 - val_loss: 17.8382
Epoch 9/10
537/537 [==============================] - 1s 2ms/step - loss: 17.2429 - val_loss: 17.7973
Epoch 10/10
537/537 [==============================] - 1s 2ms/step - loss: 17.0505 - val_loss: 17.8881
460/460 [==============================] - 1s 1ms/step
Mean Squared Error on the validation set: 18.65511177178853
Mean Squared Error on the test set: 16.927824466586515

In [47]:
predicted_energy = model.predict(X_nan_scaled)
predicted_energy

860/860 [==============================] - 1s 1ms/step

array([[52.31127 ],
       [69.453255],
       [66.50757 ],
       ...,
       [58.940605],
       [66.66067 ],
       [55.837646]], dtype=float32)

In [54]:
sub

                      Time      BS  Energy  w
0      2023-01-01 06:00:00     B_0     NaN  1
1      2023-01-01 11:00:00     B_0     NaN  1
2      2023-01-01 12:00:00     B_0     NaN  1
3      2023-01-01 13:00:00     B_0     NaN  1
4      2023-01-01 23:00:00     B_0     NaN  1
...                    ...     ...     ... ..
26134  2023-01-02 19:00:00  B_1019     NaN  5
26135  2023-01-02 20:00:00  B_1019     NaN  5
26136  2023-01-02 21:00:00  B_1019     NaN  5
26137  2023-01-02 22:00:00  B_1019     NaN  5
26138  2023-01-02 23:00:00  B_1019     NaN  5

[26139 rows x 4 columns]

In [55]:
sub = pd.read_csv('..\..\Dataset\SampleSubmission.csv')
sub['Time'] = pd.to_datetime(sub['Time'], format='%Y-%d-%m %H:%M:%S')
sub['Time']=sub['Time'].apply(lambda x: x.strftime('%Y-%d-%m %H:%M:%S')).astype(str) + '_B_' + sub['BS'].astype(str)
sub['Energy']=predicted_energy
sub

ValueError: Length of values (27491) does not match length of index (26139)

In [31]:
df.Month.unique()

array([1, 2, 3, 4, 5, 6, 7, 8])

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125575 entries, 0 to 125574
Data columns (total 17 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Time       125575 non-null  object
 1   BS         125575 non-null  object
 2   CellName   125575 non-null  object
 3   load       125575 non-null  float64
 4   ESMode1    125575 non-null  float64
 5   ESMode2    125575 non-null  float64
 6   ESMode3    125575 non-null  float64
 7   ESMode4    125575 non-null  int64
 8   ESMode5    125575 non-null  float64
 9   ESMode6    125575 non-null  float64
 10  RUType     125575 non-null  object
 11  Mode       125575 non-null  object
 12  Frequency  125575 non-null  float64
 13  Bandwidth  125575 non-null  int64
 14  Antennas   125575 non-null  int64
 15  TXpower    125575 non-null  float64
 16  Energy     98084 non-null   float64
dtypes: float64(9), int64(3), object(5)
memory usage: 16.3+ MB

In [16]:
125575-98084

27491